In [1]:
#importation
import numpy as np
import pandas as pd
import os
import sys
sys.path.insert(0, '../scripts')
import clean_data

In [2]:
#load data
parent_dir = os.path.abspath(os.path.join(os.getcwd(), os.pardir))
data_path = os.path.join(parent_dir, "data", "Week1_challenge_data_source.csv")                             
db = pd.read_csv(data_path)
db.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311450e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082010e+14,3.366496e+10,3.552120e+13,9.16457E+15,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311450e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082020e+14,3.368185e+10,3.579400e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311450e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082000e+14,3.376063e+10,3.528150e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311450e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082010e+14,3.375034e+10,3.535660e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311450e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082010e+14,3.369980e+10,3.540700e+13,D88865A,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [3]:
#column names
db.columns.tolist()

['Bearer Id',
 'Start',
 'Start ms',
 'End',
 'End ms',
 'Dur. (ms)',
 'IMSI',
 'MSISDN/Number',
 'IMEI',
 'Last Location Name',
 'Avg RTT DL (ms)',
 'Avg RTT UL (ms)',
 'Avg Bearer TP DL (kbps)',
 'Avg Bearer TP UL (kbps)',
 'TCP DL Retrans. Vol (Bytes)',
 'TCP UL Retrans. Vol (Bytes)',
 'DL TP < 50 Kbps (%)',
 '50 Kbps < DL TP < 250 Kbps (%)',
 '250 Kbps < DL TP < 1 Mbps (%)',
 'DL TP > 1 Mbps (%)',
 'UL TP < 10 Kbps (%)',
 '10 Kbps < UL TP < 50 Kbps (%)',
 '50 Kbps < UL TP < 300 Kbps (%)',
 'UL TP > 300 Kbps (%)',
 'HTTP DL (Bytes)',
 'HTTP UL (Bytes)',
 'Activity Duration DL (ms)',
 'Activity Duration UL (ms)',
 'Dur. (ms).1',
 'Handset Manufacturer',
 'Handset Type',
 'Nb of sec with 125000B < Vol DL',
 'Nb of sec with 1250B < Vol UL < 6250B',
 'Nb of sec with 31250B < Vol DL < 125000B',
 'Nb of sec with 37500B < Vol UL',
 'Nb of sec with 6250B < Vol DL < 31250B',
 'Nb of sec with 6250B < Vol UL < 37500B',
 'Nb of sec with Vol DL < 6250B',
 'Nb of sec with Vol UL < 1250B',
 'Social Media DL (Bytes)',
 'Social Media UL (Bytes)',
 'Google DL (Bytes)',
 'Google UL (Bytes)',
 'Email DL (Bytes)',
 'Email UL (Bytes)',
 'Youtube DL (Bytes)',
 'Youtube UL (Bytes)',
 'Netflix DL (Bytes)',
 'Netflix UL (Bytes)',
 'Gaming DL (Bytes)',
 'Gaming UL (Bytes)',
 'Other DL (Bytes)',
 'Other UL (Bytes)',
 'Total UL (Bytes)',
 'Total DL (Bytes)']

In [4]:
#number of data points
print(f"There are {db.shape[0]} rows and {db.shape[1]} columns")

There are 150001 rows and 55 columns

## Handling missing values

In [5]:
# what is the % of missing values in the dataset?
missing_percentage = clean_data.percent_missing(db)
print(missing_percentage)

The TellCo dataset contains 12.5 % missing values.
None

In [6]:
#displays the datatype of columns
db.dtypes

Bearer Id                                   float64
Start                                        object
Start ms                                    float64
End                                          object
End ms                                      float64
Dur. (ms)                                   float64
IMSI                                        float64
MSISDN/Number                               float64
IMEI                                        float64
Last Location Name                           object
Avg RTT DL (ms)                             float64
Avg RTT UL (ms)                             float64
Avg Bearer TP DL (kbps)                     float64
Avg Bearer TP UL (kbps)                     float64
TCP DL Retrans. Vol (Bytes)                 float64
TCP UL Retrans. Vol (Bytes)                 float64
DL TP < 50 Kbps (%)                         float64
50 Kbps < DL TP < 250 Kbps (%)              float64
250 Kbps < DL TP < 1 Mbps (%)               float64
DL TP > 1 Mbps (%)                          float64
UL TP < 10 Kbps (%)                         float64
10 Kbps < UL TP < 50 Kbps (%)               float64
50 Kbps < UL TP < 300 Kbps (%)              float64
UL TP > 300 Kbps (%)                        float64
HTTP DL (Bytes)                             float64
HTTP UL (Bytes)                             float64
Activity Duration DL (ms)                   float64
Activity Duration UL (ms)                   float64
Dur. (ms).1                                 float64
Handset Manufacturer                         object
Handset Type                                 object
Nb of sec with 125000B < Vol DL             float64
Nb of sec with 1250B < Vol UL < 6250B       float64
Nb of sec with 31250B < Vol DL < 125000B    float64
Nb of sec with 37500B < Vol UL              float64
Nb of sec with 6250B < Vol DL < 31250B      float64
Nb of sec with 6250B < Vol UL < 37500B      float64
Nb of sec with Vol DL < 6250B               float64
Nb of sec with Vol UL < 1250B               float64
Social Media DL (Bytes)                     float64
Social Media UL (Bytes)                     float64
Google DL (Bytes)                           float64
Google UL (Bytes)                           float64
Email DL (Bytes)                            float64
Email UL (Bytes)                            float64
Youtube DL (Bytes)                          float64
Youtube UL (Bytes)                          float64
Netflix DL (Bytes)                          float64
Netflix UL (Bytes)                          float64
Gaming DL (Bytes)                           float64
Gaming UL (Bytes)                           float64
Other DL (Bytes)                            float64
Other UL (Bytes)                            float64
Total UL (Bytes)                            float64
Total DL (Bytes)                            float64
dtype: object

In [7]:
#calculate percentage of missed values
percent_missing = db.isnull().sum() * 100 / len(db)
missing_value_db = pd.DataFrame({'percentage_of_missed_values': percent_missing})
print(missing_value_db)

                                          percentage_of_missed_values
Bearer Id                                                    0.660662
Start                                                        0.000667
Start ms                                                     0.000667
End                                                          0.000667
End ms                                                       0.000667
Dur. (ms)                                                    0.000667
IMSI                                                         0.379997
MSISDN/Number                                                0.710662
IMEI                                                         0.381331
Last Location Name                                           0.768662
Avg RTT DL (ms)                                             18.552543
Avg RTT UL (ms)                                             18.541210
Avg Bearer TP DL (kbps)                                      0.000667
Avg Bearer TP UL (kbps)                                      0.000667
TCP DL Retrans. Vol (Bytes)                                 58.763608
TCP UL Retrans. Vol (Bytes)                                 64.432237
DL TP < 50 Kbps (%)                                          0.502663
50 Kbps < DL TP < 250 Kbps (%)                               0.502663
250 Kbps < DL TP < 1 Mbps (%)                                0.502663
DL TP > 1 Mbps (%)                                           0.502663
UL TP < 10 Kbps (%)                                          0.527996
10 Kbps < UL TP < 50 Kbps (%)                                0.527996
50 Kbps < UL TP < 300 Kbps (%)                               0.527996
UL TP > 300 Kbps (%)                                         0.527996
HTTP DL (Bytes)                                             54.315638
HTTP UL (Bytes)                                             54.539636
Activity Duration DL (ms)                                    0.000667
Activity Duration UL (ms)                                    0.000667
Dur. (ms).1                                                  0.000667
Handset Manufacturer                                         0.381331
Handset Type                                                 0.381331
Nb of sec with 125000B < Vol DL                             65.024900
Nb of sec with 1250B < Vol UL < 6250B                       61.928920
Nb of sec with 31250B < Vol DL < 125000B                    62.390251
Nb of sec with 37500B < Vol UL                              86.835421
Nb of sec with 6250B < Vol DL < 31250B                      58.877607
Nb of sec with 6250B < Vol UL < 37500B                      74.561503
Nb of sec with Vol DL < 6250B                                0.503330
Nb of sec with Vol UL < 1250B                                0.528663
Social Media DL (Bytes)                                      0.000000
Social Media UL (Bytes)                                      0.000000
Google DL (Bytes)                                            0.000000
Google UL (Bytes)                                            0.000000
Email DL (Bytes)                                             0.000000
Email UL (Bytes)                                             0.000000
Youtube DL (Bytes)                                           0.000000
Youtube UL (Bytes)                                           0.000000
Netflix DL (Bytes)                                           0.000000
Netflix UL (Bytes)                                           0.000000
Gaming DL (Bytes)                                            0.000000
Gaming UL (Bytes)                                            0.000000
Other DL (Bytes)                                             0.000000
Other UL (Bytes)                                             0.000000
Total UL (Bytes)                                             0.000667
Total DL (Bytes)                                             0.000667

In [8]:
#modify data frame by removing null values above 30%
perc = 30.0
min_count = int(((100-perc)/100)*db.shape[0] +1)
mod_db = db.dropna(axis=1, thresh=min_count)
print("Modified Dataframe Columns: ")
mod_db.columns.tolist()

Modified Dataframe Columns:

['Bearer Id',
 'Start',
 'Start ms',
 'End',
 'End ms',
 'Dur. (ms)',
 'IMSI',
 'MSISDN/Number',
 'IMEI',
 'Last Location Name',
 'Avg RTT DL (ms)',
 'Avg RTT UL (ms)',
 'Avg Bearer TP DL (kbps)',
 'Avg Bearer TP UL (kbps)',
 'DL TP < 50 Kbps (%)',
 '50 Kbps < DL TP < 250 Kbps (%)',
 '250 Kbps < DL TP < 1 Mbps (%)',
 'DL TP > 1 Mbps (%)',
 'UL TP < 10 Kbps (%)',
 '10 Kbps < UL TP < 50 Kbps (%)',
 '50 Kbps < UL TP < 300 Kbps (%)',
 'UL TP > 300 Kbps (%)',
 'Activity Duration DL (ms)',
 'Activity Duration UL (ms)',
 'Dur. (ms).1',
 'Handset Manufacturer',
 'Handset Type',
 'Nb of sec with Vol DL < 6250B',
 'Nb of sec with Vol UL < 1250B',
 'Social Media DL (Bytes)',
 'Social Media UL (Bytes)',
 'Google DL (Bytes)',
 'Google UL (Bytes)',
 'Email DL (Bytes)',
 'Email UL (Bytes)',
 'Youtube DL (Bytes)',
 'Youtube UL (Bytes)',
 'Netflix DL (Bytes)',
 'Netflix UL (Bytes)',
 'Gaming DL (Bytes)',
 'Gaming UL (Bytes)',
 'Other DL (Bytes)',
 'Other UL (Bytes)',
 'Total UL (Bytes)',
 'Total DL (Bytes)']

In [16]:
import warnings

with warnings.catch_warnings(record=True):
#store object type columns and numberic type columns in different lists
    modified = clean_data.handle_missing_values(db)
    filled = clean_data.fill_missing_values(modified)
filled.head(5)

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311450e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082010e+14,3.366496e+10,3.552120e+13,9.16457E+15,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311450e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082020e+14,3.368185e+10,3.579400e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311450e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082000e+14,3.376063e+10,3.528150e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311450e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082010e+14,3.375034e+10,3.535660e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311450e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082010e+14,3.369980e+10,3.540700e+13,D88865A,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [17]:
#after removing above 30% null values and fill null values for object types and numeric types
percent_missing = filled.isnull().sum() * 100 / len(filled)
missing_value_db = pd.DataFrame({'percent_missing': percent_missing})
print(missing_value_db)

                                percent_missing
Bearer Id                                   0.0
Start                                       0.0
Start ms                                    0.0
End                                         0.0
End ms                                      0.0
Dur. (ms)                                   0.0
IMSI                                        0.0
MSISDN/Number                               0.0
IMEI                                        0.0
Last Location Name                          0.0
Avg RTT DL (ms)                             0.0
Avg RTT UL (ms)                             0.0
Avg Bearer TP DL (kbps)                     0.0
Avg Bearer TP UL (kbps)                     0.0
DL TP < 50 Kbps (%)                         0.0
50 Kbps < DL TP < 250 Kbps (%)              0.0
250 Kbps < DL TP < 1 Mbps (%)               0.0
DL TP > 1 Mbps (%)                          0.0
UL TP < 10 Kbps (%)                         0.0
10 Kbps < UL TP < 50 Kbps (%)               0.0
50 Kbps < UL TP < 300 Kbps (%)              0.0
UL TP > 300 Kbps (%)                        0.0
Activity Duration DL (ms)                   0.0
Activity Duration UL (ms)                   0.0
Dur. (ms).1                                 0.0
Handset Manufacturer                        0.0
Handset Type                                0.0
Nb of sec with Vol DL < 6250B               0.0
Nb of sec with Vol UL < 1250B               0.0
Social Media DL (Bytes)                     0.0
Social Media UL (Bytes)                     0.0
Google DL (Bytes)                           0.0
Google UL (Bytes)                           0.0
Email DL (Bytes)                            0.0
Email UL (Bytes)                            0.0
Youtube DL (Bytes)                          0.0
Youtube UL (Bytes)                          0.0
Netflix DL (Bytes)                          0.0
Netflix UL (Bytes)                          0.0
Gaming DL (Bytes)                           0.0
Gaming UL (Bytes)                           0.0
Other DL (Bytes)                            0.0
Other UL (Bytes)                            0.0
Total UL (Bytes)                            0.0
Total DL (Bytes)                            0.0

In [18]:
mod_db_handsets = pd.DataFrame({'number of users':filled.groupby(['Handset Type'])['Bearer Id'].count()}).reset_index()
mod_db_handsets = mod_db_handsets.sort_values(['number of users'],ascending=False)
print("\nTOP TEN HANDSETS USED BY CUSTOMERS\n")
mod_db_handsets.head(10)

TOP TEN HANDSETS USED BY CUSTOMERS

                      Handset Type  number of users
316               Huawei B528S-23A            20324
53         Apple iPhone 6S (A1688)             9419
49          Apple iPhone 6 (A1586)             9023
1395                     undefined             8987
59          Apple iPhone 7 (A1778)             6326
73         Apple iPhone Se (A1723)             5187
66          Apple iPhone 8 (A1905)             4993
78         Apple iPhone Xr (A2105)             4568
955   Samsung Galaxy S8 (Sm-G950F)             4520
75          Apple iPhone X (A1901)             3813

In [19]:
filled.shape

(150001, 45)

In [20]:
#top 3 handset manufacturers
mod_db_handset_manf = pd.DataFrame({'handsets manufactured':filled.groupby(['Handset Manufacturer'])['Bearer Id'].count()}).reset_index()
mod_db_handset_manf = mod_db_handset_manf.sort_values(['handsets manufactured'],ascending=False).reset_index()
print('\nTOP THREE HANDSET MANUFACTURERES\n')
mod_db_handset_manf.head(3)

TOP THREE HANDSET MANUFACTURERES

   index Handset Manufacturer  handsets manufactured
0      5                Apple                  60137
1    103              Samsung                  40839
2     52               Huawei                  34423

In [23]:
#top 5 handsets per top 3 handset manufacturer
# df_handset_manf[df_handset_manf["Handset Manufacturer"] == "Apple"]
mod_db_handset_apple = filled.groupby(['Handset Manufacturer']).get_group('Apple')[["Handset Type","Bearer Id"]].sort_values(by="Bearer Id",ascending=False)
mod_db_handset_samsung = filled.groupby(['Handset Manufacturer']).get_group('Samsung')[["Handset Type","Bearer Id"]].sort_values(by="Bearer Id",ascending=False)
mod_db_handset_huawei= filled.groupby(['Handset Manufacturer']).get_group('Huawei')[["Handset Type","Bearer Id"]].sort_values(by="Bearer Id",ascending=False)
print("\nTOP FIVE HANDSETS FROM APPLE\n")
print(mod_db_handset_apple.head(5),"\n\n")
print("\nTOP FIVE HANDSETS FROM SUNMSUNG\n")
print(mod_db_handset_samsung.head(5),"\n\n")
print("\nTOP FIVE HANDSETS FROM HUAWEI\n")
print(mod_db_handset_huawei.head(5))

TOP FIVE HANDSETS FROM APPLE

                      Handset Type     Bearer Id
85228  Apple iPhone 6 Plus (A1524)  1.318650e+19
92010      Apple iPhone 6S (A1688)  1.318650e+19
8452        Apple iPhone 8 (A1905)  1.318650e+19
57870      Apple iPhone 6S (A1688)  1.318650e+19
24695       Apple iPhone 6 (A1549)  1.318650e+19



TOP FIVE HANDSETS FROM SUNMSUNG

                        Handset Type     Bearer Id
117816  Samsung Galaxy S7 (Sm-G930X)  1.318650e+19
22779       Samsung Galaxy A8 (2018)  1.318650e+19
19847     Samsung Galaxy A5 Sm-A520F  1.318650e+19
24249    Samsung Galaxy J3 (Sm-J330)  1.318650e+19
15141   Samsung Galaxy S8 (Sm-G950F)  1.318650e+19



TOP FIVE HANDSETS FROM HUAWEI

            Handset Type     Bearer Id
3651    Huawei B525S-23A  1.318650e+19
61439   Huawei B525S-23A  1.318650e+19
121426  Huawei B525S-23A  1.318650e+19
11585     Huawei Fig-Lx1  1.318650e+19
117132  Huawei B525S-23A  1.318650e+19

## User Overview Analysis

In [70]:
#the number of xdr session per user
import utilise
print("\nXDR SESSIONS PER USEr FOR THE FIRST TEN MSISDN/Number\n")
no_sessions = utilise.find_agg(db, 'MSISDN/Number', 'count', "Number of session per user", 10)
print(no_sessions.head(10))

XDR SESSIONS PER USEr FOR THE FIRST TEN MSISDN/Number

          MSISDN/Number  Number of session per user
13526 33,626,320,676.00                          18
13180 33,625,779,332.00                          17
6437  33,614,892,860.00                          17
37052 33,659,725,664.00                          16
92923 33,760,536,639.00                          15
76363 33,675,877,202.00                          15
65118 33,667,163,239.00                          13
13994 33,627,080,969.00                          12
1279  33,604,515,716.00                          12
92577 33,760,413,819.00                          12

In [68]:
#ession duration per user
sess_dur = filled.groupby('MSISDN/Number').agg({'Dur. (ms)':'sum',}).reset_index()
print('\nSESSION DURATION FOR THE FIRST TEN MSISDN/Number')
sess_dur.head(10)

SESSION DURATION FOR THE FIRST TEN MSISDN/Number

      MSISDN/Number  Dur. (ms)
0 33,601,001,722.00 116,720.00
1 33,601,001,754.00 181,230.00
2 33,601,002,511.00 134,969.00
3 33,601,007,832.00  49,878.00
4 33,601,008,617.00  37,104.00
5 33,601,010,682.00 253,983.00
6 33,601,011,634.00 128,360.00
7 33,601,011,959.00  86,399.00
8 33,601,014,694.00 495,702.00
9 33,601,020,306.00 124,854.00

In [60]:
#total count of upload and download
with warnings.catch_warnings(record=True):
    filled['Total(UL/DL)'] = filled['Total UL (Bytes)'] + filled['Total DL (Bytes)']
sess_dur = filled.groupby('MSISDN/Number').agg({'Total(UL/DL)':'sum',}).reset_index()
print('\nTOTAL UPLOAD AND DOWNLOAD DATA FOR THE TOP TEN MSISDN/Number')
sess_dur.head(10)

TOTAL UPLOAD AND DOWNLOAD DATA FOR THE TOP TEN MSISDN/Number

      MSISDN/Number     Total(UL/DL)
0 33,601,001,722.00   878,690,574.00
1 33,601,001,754.00   156,859,643.00
2 33,601,002,511.00   595,966,483.00
3 33,601,007,832.00   422,320,698.00
4 33,601,008,617.00 1,457,410,944.00
5 33,601,010,682.00   615,217,221.00
6 33,601,011,634.00   654,723,066.00
7 33,601,011,959.00   332,660,357.00
8 33,601,014,694.00   990,132,189.00
9 33,601,020,306.00   732,463,761.00