In [28]:
#importation
import pandas as pd
import sys  
sys.path.insert(0, '../scripts')
import clean_data
import utilise
import os
import clean_data

In [29]:

parent_dir = os.path.abspath(os.path.join(os.getcwd(), os.pardir))
data_path = os.path.join(parent_dir, "data", "Week1_challenge_data_source.csv")                             
db = pd.read_csv(data_path)
db.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,"13,114,500,000,000,000,000.00",4/4/2019 12:01,770.00,4/25/2019 14:35,662.00,"1,823,652.00","208,201,000,000,000.00","33,664,962,239.00","35,521,200,000,000.00",9.16457E+15,...,"15,854,611.00","2,501,332.00","8,198,936.00","9,656,251.00","278,082,303.00","14,344,150.00","171,744,450.00","8,814,393.00","36,749,741.00","308,879,636.00"
1,"13,114,500,000,000,000,000.00",4/9/2019 13:04,235.00,4/25/2019 8:15,606.00,"1,365,104.00","208,202,000,000,000.00","33,681,854,413.00","35,794,000,000,000.00",L77566A,...,"20,247,395.00","19,111,729.00","18,338,413.00","17,227,132.00","608,750,074.00","1,170,709.00","526,904,238.00","15,055,145.00","53,800,391.00","653,384,965.00"
2,"13,114,500,000,000,000,000.00",4/9/2019 17:42,1.00,4/25/2019 11:58,652.00,"1,361,762.00","208,200,000,000,000.00","33,760,627,129.00","35,281,500,000,000.00",D42335A,...,"19,725,661.00","14,699,576.00","17,587,794.00","6,163,408.00","229,584,621.00","395,630.00","410,692,588.00","4,215,763.00","27,883,638.00","279,807,335.00"
3,"13,114,500,000,000,000,000.00",4/10/2019 0:31,486.00,4/25/2019 7:36,171.00,"1,321,509.00","208,201,000,000,000.00","33,750,343,200.00","35,356,600,000,000.00",T21824A,...,"21,388,122.00","15,146,643.00","13,994,646.00","1,097,942.00","799,538,153.00","10,849,722.00","749,039,933.00","12,797,283.00","43,324,218.00","846,028,530.00"
4,"13,114,500,000,000,000,000.00",4/12/2019 20:10,565.00,4/25/2019 10:40,954.00,"1,089,009.00","208,201,000,000,000.00","33,699,795,932.00","35,407,000,000,000.00",D88865A,...,"15,259,380.00","18,962,873.00","17,124,581.00","415,218.00","527,707,248.00","3,529,801.00","550,709,500.00","13,910,322.00","38,542,814.00","569,138,589.00"

In [32]:
import warnings
mod_db = clean_data.handle_missing_values(db)
with warnings.catch_warnings(record=True):
    mod_db['Total(UL/DL)'] = mod_db['Total UL (Bytes)'] + mod_db['Total DL (Bytes)']

In [23]:
clean = cleaned_data.copy()
mod_clean = clean.groupby("MSISDN/Number")
sess_freq = pd.DataFrame(mod_clean["Bearer Id"].count())
sess_dur = pd.DataFrame(mod_clean["Dur. (ms)"].sum())

In [116]:
# groups users based on their MSIDN number and count how many sessions they created
cleaned_copy = cleaned_data.copy()
df_user = cleaned_copy.groupby("MSISDN/Number")

# count session id for session freq, sum up session duration, 
df_session_freq = pd.DataFrame(df_user["Bearer Id"].count())
df_session_dur = pd.DataFrame(df_user["Dur. (ms)"].sum())
df_session_UL = pd.DataFrame(df_user["Total UL (Bytes)"].sum())
df_session_DL = pd.DataFrame(df_user["Total DL (Bytes)"].sum())
df_session_DL.drop_duplicates()
df_session_UL.drop_duplicates
print("Top 10 users with high session frequency")
df_session_freq.sort_values(by=["Bearer Id"], ascending=False).head(10)

Top 10 users with high session frequency

                   Bearer Id
MSISDN/Number
33,626,320,676.00         18
33,625,779,332.00         17
33,614,892,860.00         17
33,659,725,664.00         16
33,675,877,202.00         15
33,760,536,639.00         15
33,667,163,239.00         13
33,760,413,819.00         12
33,604,515,716.00         12
33,603,127,838.00         12

In [117]:
# duration of sessions per user
print("Top 10 users with high session duration")
df_session_dur.sort_values(by="Dur. (ms)",ascending=False).head(10)

Top 10 users with high session duration

                      Dur. (ms)
MSISDN/Number
33,625,779,332.00 18,553,754.00
33,614,892,860.00  9,966,898.00
33,760,536,639.00  9,279,434.00
33,626,320,676.00  8,791,927.00
33,667,163,239.00  8,744,914.00
33,662,840,755.00  6,614,270.00
33,664,693,736.00  6,288,730.00
33,603,127,838.00  6,287,761.00
33,667,456,716.00  5,649,882.00
33,760,413,819.00  5,321,667.00

In [118]:
# total data DL volume per user
print("Top 10 users with high data DL volume")
df_session_DL.sort_values(by="Total DL (Bytes)",ascending=False).head(10)

Top 10 users with high data DL volume

                   Total DL (Bytes)
MSISDN/Number
33,614,892,860.00  8,156,743,493.00
33,760,536,639.00  7,811,295,382.00
33,625,779,332.00  7,770,043,342.00
33,675,877,202.00  7,309,541,816.00
33,626,320,676.00  7,301,516,540.00
33,659,725,664.00  7,081,602,462.00
33,666,464,084.00  6,903,439,962.00
33,760,413,819.00  6,610,851,624.00
33,664,712,899.00  6,400,773,755.00
33,698,792,269.00  6,010,556,021.00

In [119]:
# total UL data volume per user
print("Top 10 users with high data UL volume")
df_session_UL.sort_values(by="Total UL (Bytes)",ascending=False).head(10)

Top 10 users with high data UL volume

                   Total UL (Bytes)
MSISDN/Number
33,625,779,332.00    729,577,380.00
33,760,536,639.00    703,478,581.00
33,614,892,860.00    689,483,001.00
33,626,320,676.00    669,650,721.00
33,659,725,664.00    624,260,321.00
33,675,877,202.00    581,568,792.00
33,667,163,239.00    566,326,364.00
33,698,792,269.00    530,343,105.00
33,760,413,819.00    521,518,890.00
33,761,268,199.00    496,467,102.00

In [189]:
# user engagment metrics per user
df_user_engagement = pd.DataFrame({"session_freq": df_session_freq["Bearer Id"],"session_duration":df_session_dur["Dur. (ms)"],"session_data_DL": df_session_DL["Total DL (Bytes)"],"session_data_UL": df_session_UL["Total UL (Bytes)"]})
df_user_engagement.head(10)

,session_freq,session_duration,session_data_DL,session_data_UL
MSISDN/Number,,,,
"33,601,001,722.00",1,"116,720.00","842,637,466.00","36,053,108.00"
"33,601,001,754.00",1,"181,230.00","120,755,184.00","36,104,459.00"
"33,601,002,511.00",1,"134,969.00","556,659,663.00","39,306,820.00"
"33,601,007,832.00",1,"49,878.00","401,993,172.00","20,327,526.00"
"33,601,008,617.00",2,"37,104.00","1,363,130,417.00","94,280,527.00"
"33,601,010,682.00",2,"253,983.00","555,207,972.00","60,009,249.00"
"33,601,011,634.00",2,"128,360.00","553,041,208.00","101,681,858.00"
"33,601,011,959.00",1,"86,399.00","294,085,078.00","38,575,279.00"
"33,601,014,694.00",2,"495,702.00","896,560,173.00","93,572,016.00"
"33,601,020,306.00",1,"124,854.00","685,372,753.00","47,091,008.00"

In [190]:
features = ["session_freq", "session_duration", "session_data_DL", 'session_data_UL']
selected_metrics = df_user_engagement[features]

In [191]:
x = selected_metrics.loc[:, features].values
x = StandardScaler().fit_transform(x) # normalizing the features

In [192]:
np.mean(x), np.std(x), x.shape

(2.234243834837479e-17, 1.0, (106856, 4))

In [193]:
normalised_df = pd.DataFrame(x,columns=features)

In [194]:
kmeans = KMeans(3)
kmeans.fit(x)

KMeans(n_clusters=3)

In [195]:
identified_clusters = kmeans.fit_predict(x)
identified_clusters

array([1, 1, 1, ..., 1, 1, 1])

In [199]:
 def summ_columns(df):
        """
        shows columns and their missing values along with data types.
        """
        df2 = df.isna().sum().to_frame().reset_index()
        df2.rename(columns = {'index':'variables', 0:'missing_count'}, inplace = True)
        df2['missing_percent_(%)'] = round(df2['missing_count']*100/df.shape[0])
        data_type_lis = df.dtypes.to_frame().reset_index()
        df2['data_type'] = data_type_lis.iloc[:,1]
        
        unique_val = []
        for i in range(df2.shape[0]):
            unique_val.append(len(pd.unique(df[df2.iloc[i,0]])))
        df2['unique_values'] = pd.Series(unique_val)
        return df2

In [200]:
data_with_clusters = df_user_engagement.copy()
data_with_clusters['Clusters'] = identified_clusters 
summ_columns(data_with_clusters)

,variables,missing_count,missing_percent_(%),data_type,unique_values
0,session_freq,0,0.00,int64,18
1,session_duration,0,0.00,float64,77538
2,session_data_DL,0,0.00,float64,106851
3,session_data_UL,0,0.00,float64,106778
4,Clusters,0,0.00,int32,3