In [7]:
#importation
import pandas as pd
import sys  
sys.path.insert(0, '../scripts')
import clean_data
import utilise

In [8]:

parent_dir = os.path.abspath(os.path.join(os.getcwd(), os.pardir))
data_path = os.path.join(parent_dir, "data", "Week1_challenge_data_source.csv")                             
db = pd.read_csv(data_path)
db.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,"13,114,500,000,000,000,000.00",4/4/2019 12:01,770.00,4/25/2019 14:35,662.00,"1,823,652.00","208,201,000,000,000.00","33,664,962,239.00","35,521,200,000,000.00",9.16457E+15,...,"15,854,611.00","2,501,332.00","8,198,936.00","9,656,251.00","278,082,303.00","14,344,150.00","171,744,450.00","8,814,393.00","36,749,741.00","308,879,636.00"
1,"13,114,500,000,000,000,000.00",4/9/2019 13:04,235.00,4/25/2019 8:15,606.00,"1,365,104.00","208,202,000,000,000.00","33,681,854,413.00","35,794,000,000,000.00",L77566A,...,"20,247,395.00","19,111,729.00","18,338,413.00","17,227,132.00","608,750,074.00","1,170,709.00","526,904,238.00","15,055,145.00","53,800,391.00","653,384,965.00"
2,"13,114,500,000,000,000,000.00",4/9/2019 17:42,1.00,4/25/2019 11:58,652.00,"1,361,762.00","208,200,000,000,000.00","33,760,627,129.00","35,281,500,000,000.00",D42335A,...,"19,725,661.00","14,699,576.00","17,587,794.00","6,163,408.00","229,584,621.00","395,630.00","410,692,588.00","4,215,763.00","27,883,638.00","279,807,335.00"
3,"13,114,500,000,000,000,000.00",4/10/2019 0:31,486.00,4/25/2019 7:36,171.00,"1,321,509.00","208,201,000,000,000.00","33,750,343,200.00","35,356,600,000,000.00",T21824A,...,"21,388,122.00","15,146,643.00","13,994,646.00","1,097,942.00","799,538,153.00","10,849,722.00","749,039,933.00","12,797,283.00","43,324,218.00","846,028,530.00"
4,"13,114,500,000,000,000,000.00",4/12/2019 20:10,565.00,4/25/2019 10:40,954.00,"1,089,009.00","208,201,000,000,000.00","33,699,795,932.00","35,407,000,000,000.00",D88865A,...,"15,259,380.00","18,962,873.00","17,124,581.00","415,218.00","527,707,248.00","3,529,801.00","550,709,500.00","13,910,322.00","38,542,814.00","569,138,589.00"

In [10]:
cleaned_data = clean_data.handle_missing_values(db)
cleaned_data.isnull().sum()

Bearer Id                           991
Start                                 1
Start ms                              1
End                                   1
End ms                                1
Dur. (ms)                             1
IMSI                                570
MSISDN/Number                      1066
IMEI                                572
Last Location Name                 1153
Avg RTT DL (ms)                   27829
Avg RTT UL (ms)                   27812
Avg Bearer TP DL (kbps)               1
Avg Bearer TP UL (kbps)               1
DL TP < 50 Kbps (%)                 754
50 Kbps < DL TP < 250 Kbps (%)      754
250 Kbps < DL TP < 1 Mbps (%)       754
DL TP > 1 Mbps (%)                  754
UL TP < 10 Kbps (%)                 792
10 Kbps < UL TP < 50 Kbps (%)       792
50 Kbps < UL TP < 300 Kbps (%)      792
UL TP > 300 Kbps (%)                792
Activity Duration DL (ms)             1
Activity Duration UL (ms)             1
Dur. (ms).1                           1
Handset Manufacturer                572
Handset Type                        572
Nb of sec with Vol DL < 6250B       755
Nb of sec with Vol UL < 1250B       793
Social Media DL (Bytes)               0
Social Media UL (Bytes)               0
Google DL (Bytes)                     0
Google UL (Bytes)                     0
Email DL (Bytes)                      0
Email UL (Bytes)                      0
Youtube DL (Bytes)                    0
Youtube UL (Bytes)                    0
Netflix DL (Bytes)                    0
Netflix UL (Bytes)                    0
Gaming DL (Bytes)                     0
Gaming UL (Bytes)                     0
Other DL (Bytes)                      0
Other UL (Bytes)                      0
Total UL (Bytes)                      1
Total DL (Bytes)                      1
dtype: int64

In [11]:
clean = cleaned_data.copy()

In [15]:
mod_clean = clean.groupby("MSISDN/Number")

# count session id for session freq, sum up session duration, 
db_session_freq = pd.DataFrame(mod_clean["Bearer Id"].count())
db_session_dur = pd.DataFrame(mod_clean["Dur. (ms)"].sum())
db_session_UL = pd.DataFrame(mod_clean["Total UL (Bytes)"].sum())
db_session_DL = pd.DataFrame(mod_clean["Total DL (Bytes)"].sum())
db_session_DL.drop_duplicates()
db_session_UL.drop_duplicates
print("Top 10 users with high session frequency")
db_session_freq.sort_values(by=["Bearer Id"], ascending=False).head(10)

Top 10 users with high session frequency

                   Bearer Id
MSISDN/Number
33,626,320,676.00         18
33,625,779,332.00         17
33,614,892,860.00         17
33,659,725,664.00         16
33,675,877,202.00         15
33,760,536,639.00         15
33,667,163,239.00         13
33,760,413,819.00         12
33,604,515,716.00         12
33,603,127,838.00         12